<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

    <button class="btn btn-light">
        <img width="40" height="40" src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/groups.png" alt="groups" />
    </button>
    <div class="dropdown">
        <button class="btn btn-light" data-bs-toggle="dropdown" data-bs-target="#collapseExample" aria-expanded="false"
            aria-controls="collapseExample" type="button"><img width="40" height="40"
                src="https://img.icons8.com/color/48/gears.png" alt="gears" /></button>
        <ul class="dropdown-menu">
            <li><a href="" class="dropdown-item">
                    Utilisateur
                </a></li>
            <li>
                <a href="" class="dropdown-item">
                    Agent
                </a>
            </li>
        </ul>

    </div>
    <button class="btn btn-light">
        <img width="40" height="40" src="https://img.icons8.com/nolan/64/exit.png" alt="exit" />
    </button>


</form>