<div class="header">
  <nav class="navbar navbar-expland-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand"><span class="gradient-text">Lynx Innovation</span></a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

        <button class="btn btn-light">
          <img width="40" height="40" src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/groups.png" alt="groups" />
        </button>
        <div class="dropdown">
          <button class="btn btn-light" data-bs-toggle="dropdown" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample" type="button"><img width="40" height="40"
              src="https://img.icons8.com/color/48/gears.png" alt="gears" /></button>
          <ul class="dropdown-menu">
            <li><a href="" class="dropdown-item">
                Utilisateur
              </a></li>
            <li>
              <a href="" class="dropdown-item">
                Agent
              </a>
            </li>
          </ul>

        </div>
        <button class="btn btn-light">
          <img width="40" height="40" src="https://img.icons8.com/nolan/64/exit.png" alt="exit" />
        </button>


      </form>
    </div>
  </nav>
</div>
<div class="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 mb-3 mb-sm-0">
        <div class="card" style="background-color: #DFDBDA;">
          <div class="card-body">
            <h5 class="card-title">
              Top 3 de production
            </h5>
            <div id="carouselExampleIndicators" class="carousel slide margin">

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row justify-content-center">
                    <div class="col-3">
                      <div class="conteneur-cercle">
                        <img src="assets/images/profil2.webp" alt="Image" class="image">
                      </div>
                    </div>
                    <div class="col-5 text-end">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
                        possimus autem
                        adipisci quis, molestias quaerat reprehenderit totam nobis
                        perferendis velit
                        praesentium voluptate repudiandae est. Autem accusantium aut ipsam
                        eos impedit. <a href="">en savoir plus</a>
                      </p>
                    </div>
                    <div class="col-8 margin">
                      <h6><b><u>Nom de l'agent:</u></b> Soa Fara</h6>
                    </div>
                    <div class="col-8">
                      <h6><b><u>Poste:</u></b> Designer</h6>
                    </div>
                    <div class="col-8">
                      <h6><b><u>Information additionnel:</u></b> Graphiste Photoshop</h6>
                    </div>
                    <div class="col-8">
                      <h6><b><u>Compétences:</u></b>
                      </h6>
                      <ul class="item-skill">
                        <li>
                          <img width="48" height="48" src="https://img.icons8.com/fluency/48/adobe-photoshop.png"
                            alt="adobe-photoshop" />
                        </li>
                        <li>
                          <img width="48" height="48" src="https://img.icons8.com/color/48/adobe-illustrator.png"
                            alt="adobe-illustrator" />
                        </li>
                      </ul>
                    </div>

                  </div>

                </div>
                <div class="carousel-item">
                  <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="..." class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev" id="colorDegrad">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next" id="colorDegrad">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>



          </div>
        </div>
      </div>
      <div class="col-sm-4">

        <div class="card ">
          <div class="card-body">
            <div class="card-title">
              Total personnel
            </div>
            <div class="row">
              <canvas id="pieChart"></canvas>
            </div>
          </div>
        </div>
        <div class="card margin">
          <div class="card-body">
            <h5 class="card-title">Candidats en cours</h5>
            <ul class="list-group margin">
              <li class="list-group-item" id="main-li">
                Jean Marc
                <ul class="icon-user">
                  <li><a href=""><img width="20" height="20" src="https://img.icons8.com/color/48/ok--v1.png"
                        alt="ok--v1" /></a>
                  </li>
                  <li>
                    <a href=""><img width="20" height="20" src="https://img.icons8.com/nolan/64/visible.png"
                        alt="visible" /></a>
                  </li>
                </ul>


              </li>

              <li class="list-group-item">
                John Doe
                <a id="btn-open-modal"><img width="20" height="20" src="https://img.icons8.com/nolan/64/visible.png"
                    alt="visible" style="float: right;" /></a>


                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <iframe id="pdfViewer" src="assets/others/CV.pdf" frameborder="0"></iframe>
                  </div>
                </div>
              </li>
              <li class="list-group-item" id="main-li">Rabema
                <ul class="icon-user">
                  <li><a href=""> <img width="20" height="20"
                        src="https://img.icons8.com/fluency/48/spinner-frame-5.png" alt="spinner-frame-5" /></a>
                  </li>
                  <li>
                    <a href=""><img width="20" height="20" src="https://img.icons8.com/nolan/64/visible.png"
                        alt="visible" /></a>
                  </li>
                </ul>
              </li>

            </ul>
            <a href="#" class="btn btn-primary margin">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin">
      <div class="col-sm-8  mb-3 mb-sm-0">
        <div class="card">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Matricule</th>
                <th scope="col">Photo</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">+</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">0001</th>
                <td>
                  <div class="divImg">
                    <div class="containerImg">
                      <img style="height: 50px; width: 50px;" src="assets/images/2.jpg" alt="" srcset="">
                    </div>
                  </div>
                </td>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                  <img width="35" height="35" src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/view-details.png"
                    alt="view-details" />
                </td>
              </tr>
              <tr>
                <th scope="row">0002</th>
                <td>
                  <div class="divImg">
                    <div class="containerImg">
                      <img src="assets/images/3.jpg" alt="" srcset="">
                    </div>
                  </div>
                </td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>
                  <img width="35" height="35" src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/view-details.png"
                    alt="view-details" />
                </td>
              </tr>
              <tr>
                <th scope="row">0003</th>
                <td>
                  <div class="divImg">
                    <div class="containerImg">
                      <img src="assets/images/5.jpg" alt="" srcset="">
                    </div>
                  </div>
                </td>
                <td colspan="2">Larry the Bird</td>
                <td>
                  <img width="35" height="35" src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/view-details.png"
                    alt="view-details" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>






      <div class="col-sm-4 ">
        <div class="card">
          <div class="card-body agent">
            <div class="profile-picture">
              <img src="assets/images/2.jpg" alt="Photo de profil">
            </div>
            <div class="agent-details">

              <p>Matricule: <span>LYNX0001</span></p><br>
              <p>Nom: <span>DOE</span></p> <br>
              <p>Prénom: <span>John</span></p><br>
              <p>Date de naissance: <span>01/01/1980</span></p><br>
              <p>Lieu de naissance: <span>New York, USA</span></p><br>
              <p>Adresse: <span>123 Rue des Lynx, 75000 Paris</span></p><br>
              <p>Contact: <span>+33 6 12 34 56 78</span></p><br>
              <p>Email: <span>john.doe.com</span></p><br>
              <p>Numéro CIN: <span>123456789</span></p><br>
              <p>Genre: <span>Homme</span></p><br>
              <p>Situation matrimoniale: <span>Célibataire</span></p><br>
              <p>Poste dans l'entreprise: <span>Développeur Web</span></p><br>
              <p>Spécialité: <span>Angular, Bootstrap</span></p><br>
              <p>Ancienneté: <span>5 ans</span></p><br>
            </div>
          </div>
        </div>





      </div>


    </div>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when
      the
      user activates the relevant trigger.
    </div>
  </div>
  <!-- <div class="preloader-container">
  <div class="preloader">
      <div class="dot dot1"></div>
      <div class="dot dot2"></div>
      <div class="dot dot3"></div>
  </div> -->
</div>